body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
    margin: 0;
    padding: 10px;
}

h1 {
    color: #333;
}

#current-class-container {
    font-size: 16px;
    margin-bottom: 10px;
    padding: 10px;
    background: white;
    border-radius: 8px;
    display: inline-block;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

table {
    width: 100%;
    margin: auto;
    border-collapse: collapse;
    background: white;
}

th, td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #007BFF;
    color: white;
}

.current {
    background-color: #ff6666 !important;
    color: white;
    font-weight: bold;
}
